@use "../../styles/variables/index.scss" as vars;

.panel {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 1.25rem;

	border-radius: 16px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	box-shadow: 0 2px 5px black;
	background-color: vars.$background-secondary;

	height: fit-content;

	padding: 1rem;
}
