@use "../../styles/notification-severities.scss" as *;

// Create a toast modifier for each style in colors
@each $severity, $style in $notification-severities {
	.toast--#{$severity} {
		// Severity base
		@extend .notification--#{$severity};

		// Local variables
		$_colors: map-get($style, colors);
		$_darken-soft: 10%;
		$_darken-hard: 20%;

		// Styling
		position: absolute;
		bottom: 0;
		right: 0;
		display: grid;
		grid-template-rows: auto 1fr auto 6px;

		gap: 0.5rem;
		width: 350px;
		overflow: hidden;

		// Animations
		&:not(.toast--dismiss) {
			animation: fadeIn 0.25s ease-out;
			transition: transform 0.2s ease-out;
		}

		// Child Elements
		// We want the progress bar filler to cover the entire length of the toast
		> *:not(.toast__progress-bar) {
			padding: 0.5rem;
		}

		header {
			display: grid;
			grid-template-columns: auto 1fr auto;
			place-items: center;

			background-color: darken(map-get($_colors, bg), $_darken-soft);
		}

		.toast__progress-bar {
			background-color: darken(map-get($_colors, bg), $_darken-hard);
			animation: grow 3s linear;
		}
	}
}

.toast--dismiss {
	z-index: 1;
	animation: dismiss 0.15s linear forwards;
}

// TODO: Replace this and do it thorugh the component later.
// This is just for testing!!!
// Width should be Time / elapsed in percent
@keyframes grow {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes dismiss {
	0% {
		opacity: 1;
		bottom: 0;
	}
	100% {
		opacity: 0;
		bottom: -5rem;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		bottom: -1rem;
	}
	100% {
		opacity: 1;
		bottom: 0;
	}
}
