@use "../../styles/notification-severities.scss" as *;

// IDEA TO MAKE A COOL ANIMATION
// Perhaps spawn all toasts at the container,
// but offset them with transformY using: height * i
// That way, when a toast is popped, the transform is changed and we can simply use transition for movement

.toast--base {
	position: absolute;
	bottom: 0;
	right: 0;
	display: grid;
	grid-template-rows: auto 1fr auto 16px;

	animation: fadeIn 0.25s;
	transition: transform 0.2s ease-out;

	gap: 0.5rem;
	width: 350px;

	// We want the progress bar filler to cover the entire length of the toast
	> *:not(.toast__progress-bar) {
		padding: 0.5rem;
	}

	header {
		display: grid;
		grid-template-columns: auto 1fr auto;
		place-items: center;
	}
}

// Create a toast modifier for each style in colors
@each $severity, $style in $notification-severities {
	.toast--#{$severity} {
		@extend .toast--base;
		@extend .notification--#{$severity};
	}
}

.toast__progress-bar {
	border: unset;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		bottom: -1rem;
	}
	100% {
		opacity: 1;
		bottom: 0;
	}
}
