@use "../../../../styles/variables/index.scss" as vars;
@use "sass:color";

.hamburger-button {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 4px;
	aspect-ratio: 1/1;
	min-width: 48px;

	background-color: transparent;
	border: none;

	&:hover {
		cursor: pointer;

		.hamburger-button__line {
			width: 80%; // Slight
		}
	}

	.hamburger-button__line {
		position: absolute;
		right: 0;
		height: 4px;
		background-color: vars.$text-light;
		transition: width ease 0.3s;

		&--top {
			width: 70%;
			top: 25%;
		}

		&--mid {
			width: 50%;
			top: 50%;
		}

		&--bot {
			width: 30%;
			top: 75%;
		}
	}

	// Placing at the bottom to avoid needing !important
	&--active {
		.hamburger-button__line {
			width: 100%; // Full
		}
	}
}
