.content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 16px;
	grid-template-areas: "primary secondary";

	width: 100%;
	max-width: 1024;
	margin: 0 auto;

	* {
		list-style: none;
	}
}

.panel-visited {
	grid-area: secondary;
}

.panel-popular {
	> div ul {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
}
