$background-primary: #181d22;
$background-secondary: #111416;

$text-light: #e7e4e5;
$text-dark: #151616;

$brand-orange-main: #e37f41;
$brand-orange-light: #f39053;
$brand-orange-dark: #c4652a;

$brand-blue-main: #41a5e3;
$brand-blue-light: #52b5f3;
$brand-blue-dark: #1e71a5;

$brand-h2: #d18d68;
$brand-h3: #64b3e8;
